.background{
 background-color: silver;
 margin:auto; 
 margin-top: 30px;
 padding: auto;
}
.Menu{
	margin-top: 30px; 
}
.element{	
	color: black;
	padding: 20px;
}
.colorx{
	background-color: silver;
}
